{% extends 'core/base.html' %}

{% load cropping %}

{% block content %}
<div class="row-fluid">
    <div class="col-md-8 col-md-offset-2 letter_highlight">
        <img src='{% cropped_thumbnail letter "photo_thumb" %}' style="height:300px; width:120%; right:30px" class="col-md-10"/>
    <div class="row">
        <div class="col-md-8" style="">
            <h4>Dear Davis,</h4>
            <p>
                These are interesting things that always make sense.
            </p>
        </div>
        <div class="col-md-4 pull-right right_header_button" style="margin-top:160px"></div>
    </div>
</div>
{% endblock %}