{% extends 'core/base.html' %}

{% block content %}
<div class="large-2 columns" style="background-color:#ffffdc; height:718px">
asdf

</div>
<div class="large-10 columns">
    <ul class="small-block-grid-3">
        <li>
            <div class="row" style="background-color:#ffffdc; height:300px">
            1
            </div>
        </li>
        <li>
            <div class="row" style="background-color:#ffffdc; height:300px">
            2
            </div>
        </li>
        <li>
            <div class="row" style="background-color:#ffffdc; height:300px">
            3
            </div>
        </li>
    </ul>
    <ul class="small-block-grid-3">
        <li>
            <div class="row" style="background-color:#ffffdc; height:300px">
            1
            </div>
        </li>
        <li>
            <div class="row" style="background-color:#ffffdc; height:300px">
            2
            </div>
        </li>
        <li>
            <div class="row" style="background-color:#ffffdc; height:300px">
            3
            </div>
        </li>
    </ul>
    <ul class="small-block-grid-3">
        <li>
            <div class="row" style="background-color:#ffffdc; height:300px">
            1
            </div>
        </li>
        <li>
            <div class="row" style="background-color:#ffffdc; height:300px">
            2
            </div>
        </li>
        <li>
            <div class="row" style="background-color:#ffffdc; height:300px">
            3
            </div>
        </li>
    </ul>
</div>
{% endblock %}