{% extends 'core/base.html' %}

{% load cropping %}

{% block content %}
<div class="col-md-2" style="background-color:#FFFFDC; height: 720px;" id='sidebar'>
<div class="row" style="background-color:#e7a700; height:100px">
    <br /><br />
    <div class="col-md-4 col-md-offset-1"><h5><b>FILTER</b></h5></div>
</div>
<select class="form-control" style="margin-top:15px">
  <option>1</option>
  <option>2</option>
  <option>3</option>
  <option>4</option>
  <option>5</option>
</select>
</div>
<div class="col-md-10 pull-right" style="z-index:-1;background-color:#AAB3AB; height:720px;" id="page-wrap">
    {% for letter in recent_letters %}
    {% if forloop.counter0|divisibleby:3 %}<div class="row" {% if forloop.first %}style="padding-top:35px"{% endif %}>{% endif %}
        <div class="col-md-3" id="curved_letter">
            <div>{{letter}}</div>
            {% if letter.photo_thumb %}<img src='{% cropped_thumbnail letter "photo_thumb" width=150 %}' />{% endif %}
            <div>{{letter.text|truncatewords:30}}</div>
        </div>
        </li>
    {% if forloop.counter|divisibleby:3 %}</div>{% endif %}
    {% endfor %}
</div>
{% endblock %}