{% extends 'core/base.html' %}

{% load cropping %}
{% load spacify %}

{% block content %}
<div class="row-fluid">
    <div class="col-md-8 col-md-offset-2 letter_highlight" style="background-color:#FFFFDC;">
        <div class="col-md-4" style="right:30px"><img src='{{ MEDIA_URL }}letter/{{letter.name|spacify}}/{{letter.photo}}' style="height:600px; width:400px" /></div>
        <div class="col-md-6" style="left:80px">
            <h3>Dear {{letter.name}},</h3>
            <p> {{letter.text}}
            </p>
        </div>
    </div>
</div>
{% endblock %}
/media/Letter/Davis%2C%20CA/photo.png
photo.png