<!doctype html>
<html class="no-js" lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Foundation | Welcome</title>
    <link rel="stylesheet" href="{{ STATIC_URL }}css/foundation.css" />
    <link rel="stylesheet" href="{{ STATIC_URL }}css/style.css" />
    <script src="{{ STATIC_URL }}js/vendor/modernizr.js"></script>
    {% block style %}
    {% endblock style %}
  </head>
  <body>
  <div class="header">
      <div class="large-4 columns">
        asdf
      </div>
      <div class="large-4 large-offset-4 columns" style="text-align:right">
        send!
      </div>
    <div class="row" >
      <div class="large-12 columns">
        <div style="text-align:center;"><h4>Love Your City</h4></div>
      </div>
    </div>
  </div>
  <div>
  {% block content %}
  {% endblock content %}
  </div>
  <script src="{{ STATIC_URL }}js/vendor/jquery.js"></script>
  <script src="{{ STATIC_URL }}js/foundation.min.js"></script>
  <script>
    $(document).foundation();
  </script>
  {% block script %}
  {% endblock script %}
  </body>
</html>
