
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="shortcut icon" href="../../assets/ico/favicon.ico">

    <title>LYC</title>

    <link href="{{ STATIC_URL }}css/bootstrap.min.css" rel="stylesheet">

    <link href="{{ STATIC_URL }}css/navbar-fixed-top.css" rel="stylesheet">
    <link href="{{ STATIC_URL }}css/style.css" rel="stylesheet">
    {% block style %}
    {% endblock %}
  </head>

  <body>
    <!-- Modal -->
    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
      <div class="modal-dialog modal-lg" style="top:100px">
        <div class="modal-content">
          <div class="modal-body" style="height:600px;">
            <div class="row-fluid">
              <div class="col-md-8">
                <textarea name="textarea" id="textarea" rows="28" cols="83">Dear ,
                </textarea>
              </div>
              <div class="col-md-4" style="border-width:3px; border-left-style:solid; height:600px; top:-20px">
                <div style="padding-top:280px"><center><button type="button" class="btn btn-default btn-lg"><span class="glyphicon glyphicon-upload"></span></button></center></div>
              </div>
            </div>
          </div>
        </div>
        <div><center><button type="button" class="btn" style="width:85%; background-color:#2A2C31; color:#e7a700;">SEAL + SEND</button></center></div>
      </div>
    </div>

    <!-- Fixed navbar -->
    <div class="header" id="header-wrap">
      <div class="row">
        <button type="button" class="btn btn-default col-xs-1" style="vertical-align:middle; top:30px; left:25px;"><span class="glyphicon glyphicon-th"></span></button>
        <div class="col-md-2 col-xs-offset-4 pull-left"><img src="{{ STATIC_URL }}img/lyc_logo.png" width=75% /></div>
        <button type="button" class="btn btn-primary col-xs-1 pull-right" data-toggle="modal" data-target="#myModal" style="vertical-align:middle; top:30px; right:30px;"><center><span class="glyphicon glyphicon-th"></span></button>
      </div>
    </div>

    <div id="container">
    {% block content %}
    {% endblock content %}
    </div> <!-- /container -->

    <script src="{{ STATIC_URL }}/js/jquery.js"></script>
    <script src="{{ STATIC_URL }}/js/bootstrap.min.js"></script>
    {% block script %}
    {% endblock %}
  </body>
</html>
