{% extends 'core/base.html' %}

{% block style %}
<link rel="stylesheet" media="all" href="{{ STATIC_URL }}css/jquery-jvectormap-1.2.2.css"/>
{% endblock %}

{% block content %}
<div style="width: 1436px; height: 604px; margin-top:88px;" class="jvectormap jvectormap-mill" id="map"></div>

<div style="height: 114px; background-color: #FFFFDC"></div>
{% endblock %}

{% block script %}
    <script src="{{ STATIC_URL }}js/jquery-jvectormap-1.2.2.min.js"></script>
    <script src="{{ STATIC_URL }}js/jquery-jvectormap-us-aea-en.js"></script>
    <script>
    $('#map').vectorMap({map: 'us_aea_en'});
    </script>
{% endblock %}