#header-wrap {
    background: #2A2C31;
    position: fixed;
    width: 100%;
    height: 88px;
    top: 0;
    z-index: 1;
    box-shadow: 3px 3px 10px 5px #000;
}
#container{
    margin-top: 88px;
}

#curved_letter {
    border: 1px;
    border-radius: 5px;
    background-color:#ffffdc;
    height:300px;
    margin:20px;
}

body {
    height: 2000px;
}

#page-wrap {
  position: relative;
}

#sidebar {
  position: fixed;
}